html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
/* Custom Cursor Styles */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  filter: blur(1px);
  box-shadow: 0 0 25px rgba(122, 0, 255, 0.6);
  transition: all 0.25s ease;
}
